<div class="t-card">
    <div class="card-header">
        <div class="img"></div>
        <div class="title" i18n="@@makeATransfer">Make a Transfer</div>
    </div>
    <div class="card-body">
        <form [formGroup]="form" *ngIf="!reviewMode">
            <div class="control-container">
                <label for="fromAccount" i18n="@@fromAccount">FROM ACCOUNT</label>
                <input 
                    type="text" 
                    placeholder=""
                    formControlName="fromAccount">
            </div>
            <div class="control-container">
                <label for="toAccount" i18n="@@toAccount">TO ACCOUNT</label>
                <input 
                    type="text" 
                    placeholder=""
                    formControlName="toAccount">
            </div>
            <div class="control-container">
                <label for="amount" i18n="@@amount">AMOUNT</label>
                <input 
                    type="text" 
                    placeholder="$ 0.00"
                    inputmode="numeric"
                    formControlName="amount">
            </div>
        </form>
        <div class="review" *ngIf="reviewMode">
            <h3 i18n="@@reviewTransaction">Review Transaction</h3>
            <p class="title" i18n="@@fromAccountLabel">FROM ACCOUNT :</p>
            <p class="sub-title">{{ fromAccountDefault }}</p>
            <p class="title" i18n="@@toAccountLabel">TO ACCOUNT :</p>
            <p class="sub-title">{{ transaction?.merchant?.name }}</p>
            <p class="title" i18n="@@amountLabel">AMOUNT :</p>
            <p class="sub-title">$ {{ transaction?.transaction?.amountCurrency?.amount | number: '1.2-2' }}</p>
        </div>
    </div>
    <div class="card-footer">
        <button id="submitBtn" class="warn" (click)="submit()" *ngIf="!reviewMode" i18n="@@submit">Submit</button>
        <button class="left-button warn double" (click)="cancel()" *ngIf="reviewMode" i18n="@@goBack">Go Back</button>
        <button class="warn double" (click)="transfer()" *ngIf="reviewMode" i18n="@@transfer">Transfer</button>
    </div>
</div>